M-SPLearning
Pedagogical
Interactivity
Audio
Image
Text
Video
Compatibility
Interoperability
Security
Authenticity
Confidentiality
Integrity
Communication
Collaboration
Synchronization
Support
Customization
Help
"Content
Management"
"Educational
Activities"
"Multimedia
Resources"
"Alerts
and
Messages"
"Results
and
Feedbacks"
