<div class="row" data-ng-init="init()">
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar" data-ng-init="loadApps()">
			<li class="{{flow == flows.NEW ? 'active' : ''}}"><a data-ng-click="newApp()"> <span class="glyphicon glyphicon-plus-sign"> New</span></a></li>
			<li data-ng-repeat="app in apps">
				<a href="http://media02.hongkiat.com/html5-download-attribute/download-cover.jpg" download><span class="glyphicon glyphicon-download-alt"> {{app.name}}</span></a>
			</li>
		</ul>  	
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<div data-ng-repeat="alert in alerts" class="alert {{alert.class}}" role="alert">
			{{alert.message}}
		</div>
		<div data-ng-show="flow == flows.NEW">
			<h1 class="page-header">Create your app</h1>
			<form>
				<input type="text" class="form-control" placeholder="Name App" required autofocus data-ng-model="app.name">

			    <script type="text/ng-template" id="partialFeacture">
					<ul>
						<li data-ng-repeat="feature in features">
							{{feature.name}} 
							<input type="checkbox" data-ng-model="feature.selected" data-ng-disabled="feature.isMandatory">
							<div data-ng-switch on="feature.children.length > 0">
								<div data-ng-switch-when="true">
									<div ng-init="features = feature.children" data-ng-include="'partialFeacture'">
									</div>
								</div>
							</div>
						</li>
					</ul>
			    </script>
				
				<div ng-include="'partialFeacture'"></div>

				<button type="button" data-ng-hide="app.id != null" class="btn btn-success" data-ng-click="create()">Create</button>

				<button type="button" class="btn btn-danger" data-ng-click="cancel()">Cancel</button>
			</form>	
		</div>
	</div>
</div>